@charset "UTF-8";

body{
    margin:0;
    font-size:18px;
    font-family: "Yu Gothic Medium";
    font-weight: 800;
}
.flex{
    display:flex;
}
img{
    width:500px;
}
.head-menu{
    list-style:none;
    padding:0;
    margin:10px 0;
    width:95%
}
.head-menu a{
    width:17%;
}
.head-menu li{
    text-align:center;
    padding:3px 0;
}
.menu-right{
    border-right:#EC5D3A 2px solid;
}
.menu-ja{
    font-size:0.9rem;
    margin:2px 0 2px;
    color:#EC5D3A ;
    font-weight:700;
}
.menu-en{
    margin:2px 0 2px;
    font-size:0.7rem;
    color:#FDC0B2 ;
}
.head-menu a{
    text-decoration: none;
    color:black;
}
.header{
    border-bottom:#EC5D3A 4px solid;
    align-items:center;
    margin:8px 0 0;
    padding-bottom:8px;
}
.header img{
    width:5%;
}
.language{
    display:flex;
    font-size:0.8rem;
    justify-content: flex-end;
}
.language p{
    padding:5px 15px;
    margin:5px 0;
    color:#EC5D3A;
}
.language .current{
    color:#fff;
    background-color:#EC5D3A;
}
.KV{
    margin-top:20px;
    width:100%;
} 
.concept{
    margin:0 auto 150px;
}
.concept img{
    margin:0 auto;
    width:10%;
    display:block;
}
.concept h2{
    text-align:center;
    margin:5px auto 50px;
    font-size:2rem;
    border-bottom:5px solid #EC5D3A;
    width:35%;
    color:#EC5D3A;
}
.concept p{
    font-size:1.3rem;
    width:60%;
    margin:0 auto;
    margin-bottom:1.3rem;
}
.big-img{
    position: relative;
}
.big-main{
    width:100%;
}
.big1{
    position:absolute;
    top:-22%;
    left:-5%;
}
.big2{
    position:absolute;
    bottom:-11%;
    right:-7%;
}
.program{
    background-color:#FFFEAB;
    padding-bottom:50px;
    margin-top:-10px;
}
.program-box{
    padding-top:80px;
    width:80%;
    margin:0 auto;
}
.program h2{
    font-size:2rem;
    border-bottom:5px solid #EC5D3A;
    width:20%;
    margin:0 auto 100px;
    text-align:center;
    color:#EC5D3A;
}
.program-str{
    width:50%;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}
.program-str h3{
    background-color:#FF4996;
    color:#fff;
    padding:10px 0;
    text-align:center;
    margin:0;
}
.program-str p{
    font-size:1.3em;
}
.program-str a{
    text-decoration: none;
    color:#fff;
    background-color:#67AEFE ;
    text-align:center;
    width:15%;
    margin:0 0 0 auto;
}
.program img{
    width:45%;
}
.event h2{
    text-align:center;
}
.event img{
    width:100%;
}
.container{
    width:80%;
    margin:0 auto;
}
.img-left{
    margin-top:100px;
    position: relative;
}
.img-left img{
    margin-right:5%;
}
.img-right{
    margin-top:100px;
    position: relative;
}
.img-right img{
    margin-left:5%;
}
.program .talk-img{
    width:30%;
    position:absolute;
    top:-30%;
    left:-2%;
}
.program .guitar-img{
    position:absolute;
    width:15%;
    right:-2%;
    bottom:-15%;
}
.program .memo-img{
    width:20%;
    position:absolute;
    top:-35%;
    left:-2%;
}
.program-more{
    font-size:2rem;
    color:#fff;
    background-color:#EC5D3A;
    text-decoration: none;
    margin:50px auto 0;
    display: block;
    padding:3px 20px;
    width:6%;
}
.event{
    padding-top:80px;
}
.event h2{
    font-size:2rem;
    color:#EC5D3A;
    border-bottom:5px solid #EC5D3A;
    width:12%;
    margin:0 auto 80px;
}
.event-con{
    margin-bottom:20px;
    width:60%;
    margin:0 auto 80px;
    position:relative;
}
.event-con h3{
    margin-top:8px;
    margin-bottom:20px;
    font-size:2rem;
    padding:3px 0 3px 10px;
    border-left:5px solid #EC5D3A;
    color:#EC5D3A;
}
.event-con p{
    margin-top:5px;
    font-size:1.3em;
}
.footer{
    background-color:#EC5E3A;
    padding:100px 0 10px;
}
.footer-con{
    align-items: center;
    width:70%;
    margin:0 auto;
}
.footer-con img{
    width:20%;
}
.footer-con-right{
    width:75%;
    margin-left:5%;
}
.footer-con-right ul{
    list-style: none;
    padding:0;
    margin-bottom:20px;
}
.footer-con-right li{
    width:20%;
    text-align:center;
}
.foot-right{
    border-right:#fff 2px solid;
}
.foot-menu-ja{
    font-size:0.7rem;
    margin:2px 0;
    color:#fff;
}
.foot-menu-en{
    font-size:0.6rem;
    margin:2px 0;
    color:#F5A996;
}
.foot-access{
    width:65%;
}
.foot-access p{
    font-size:0.8em;
    margin:2px 0;
    color:#fff;
}
.foot-info a{
    width:35%;
    display:block;
    color:#EC5D3A;
    background-color:#fff;
    text-align:center;
    text-decoration: none;
    padding:10px 0;
}
.copy{
    font-size:0.8em;
    text-align:center;
    margin-top:30px;
    color:#fff;
}